#header {
    height: 100px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 1.5rem;

        a {
            display: inline-block;
            line-height: 100px;
            color: black;
            font-weight: 600;

            &.active,
            &:hover {
                color: dodgerblue;
                border-bottom: 4px solid currentColor;
            }
        }
    }
}