.main-show {


    .img-show {
        width: 300px;
    }

    .card-body-show {
        text-align: left;
        color: #fff;
        padding: 1rem;

        .card-description {
            color: #a8a8a8;
        }

        h5 {
            font-weight: 600;
            margin-bottom: 1rem;
        }

    }
}
